extends layout 

block content

  h2= title

  <p> Create a new <a href=/catalog/category/graphics-cards/#{categoryId}/create>graphics card</a> product</p>

  ul 
    each card in graphics_cards_list
      li
        a(href=`${card.url}`) #{card.name}

