extends layout

block content

  h2= title

  form(method='POST')
    label(for='name') Name:
    input(type='text', id='name', name='name' value=(name===undefined ? '' : name))

    label(for='description') Description:
    input(type='text', id='description', name='description' value=(description===undefined ? '' : description))

    label(for='price') Price:
    input(type='tel', id='price', name='price' value=(price===undefined ? '' : price))

    label(for='quantity') Quantity:
    input(type='tel', id='quantity', name='quantity' value=(quantity===undefined ? '' : quantity))

    button(type='submit' value='Submit') Create

  if (errors)
    ul
      for error in errors
        li!= error.msg
