:root {
  --light-amber: #ffebeb;
  --dark-blue: #082f49;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: var(--light-amber);
}

a {
  color: #00B7FF;
}
